{{!
    Copyright (C) 2014 Google Inc., authors, and contributors <see AUTHORS file>
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
    Created By: anze@reciprocitylabs.com
    Maintained By: anze@reciprocitylabs.com
}}

<custom-attributes instance="instance" load="true">
  {{#if loading}}
  <div class="row-fluid">
    <div class="span12">
      Loading Custom Attributes...<span  {{attach_spinner '{ "radius": 4, "length": 7, "width": 2 }' 'display:inline-block; top: -6px; left: 20px;' }}></span>
    </div>
  </div>
  {{else}}
    {{#if caList.length}}
      <div class="row-fluid custom-attribute__wrapper">
      {{#caList}}
        <div class="span6 custom-attribute__item">
          <div data-custom-attribute="{{id}}" data-type="{{attribute_type}}">
          {{#switch attribute_type}}
            {{#case 'Checkbox'}}
              {{> "/static/mustache/components/custom_attributes/checkbox.mustache"}}
            {{/case}}
            {{#case 'Rich Text'}}
              {{> "/static/mustache/components/custom_attributes/text.mustache"}}
            {{/case}}
            {{#case 'Map:Person'}}
              {{> "/static/mustache/components/custom_attributes/person.mustache"}}
            {{/case}}
            {{#default}}
              {{> "/static/mustache/components/custom_attributes/text.mustache"}}
            {{/default}}
          {{/switch}}
          </div>
        </div>
      {{/caList}}
      </div>
    {{/if}}
  {{/if}}
</custom-attributes>
